---
import BaseLayout from "@components/base/BaseLayout.astro";
import PageHeader from "@components/common/PageHeader.astro";
import { getIndex } from "@lib/contentParser";
import type { PrivacyEntry } from "@/types";
import { render } from "astro:content";

const entry = (await getIndex("privacy")) as PrivacyEntry;
const { title, description } = entry.data;
const { Content } = await render(entry);
---

<BaseLayout title={title} description={description}>
  <PageHeader title={title} showBreadcrumbs={false} />
  <section class="section">
    <div class="container">
      <div class="row justify-center">
        <div class="col-10 content glass rounded-lg p-4">
          <Content />
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
